body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic ProN W3','Hiragino Kaku Gothic ProN','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

body {
  font-size: 16px !important;
}

h1, h2, h3, h4, h5, h6 {
  text-align: left;
  text-transform: none;
  color: #333;
}

h1, h2, h3 {
  border-bottom: 1px solid #ccc;
}

h1 {
  font-size: 2.375rem;
}

h2 {
  font-size: 1.625rem;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.125rem;
  border: 0;
}

h5, h6 {
  font-size: 1rem;
  border: 0;
}


#sidebar {
  background-color: #f2f2f2;
}

#header-wrapper {
  background: #fff;
  border-bottom: 1px solid #dadada;
}

#header p {
  margin: 0;
}

#sidebar ul li a span {
  white-space: normal;
}

#sidebar {
  box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.2);
}

#sidebar .highlightable {
  overflow-x: hidden;
}

#sidebar .topics > li > a {
  display: block;
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
}

#sidebar .topics a, #sidebar .topics li.active a {
  padding: .4rem 1rem .4rem .5rem;
}

#sidebar ul.topics {
  margin: 0;
  padding: 0;
}

#sidebar ul.topics > li {
  padding: 0 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-left: -1rem;
  margin-right: -1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

#sidebar ul.topics ul {
  padding-bottom: 0;
}

#sidebar ul li li {
  text-indent: 0;
  padding-left: 1rem;
}

#sidebar ul > li li a {
  display: block;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.3;
}

#sidebar ul ul ul a {
  font-size: 13px;
}

#sidebar ul.topics > li.parent, #sidebar ul.topics > li.active {
  background: transparent;
}

#sidebar a, #sidebar ul.topics > li.parent a, #sidebar ul.topics > li.active a {
  color: #555;
}

#sidebar a:hover, #sidebar ul.topics > li.parent a:hover, #sidebar ul.topics > li.active a:hover {
  color: #222;
  background-color: rgba(255, 255, 255, 0.6);
}

#sidebar ul ul li, #sidebar .parent li, #sidebar .active li {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

#sidebar ul li.parent > a {
  background-color: transparent;
  color: #444 !important;
  border-left: 3px solid #5d89cb;
  margin: 0;
  font-weight: 700;
}

#sidebar ul li.parent > a span {
  margin-left: -3px;
}

#sidebar .topics li.active > a {
  background-color: #5d89cb;
  color: #fff !important;
  margin-left: -.5rem;
  padding-left: 1rem;
}

#sidebar ul li.active > a .category-icon {
  color: #fff !important;
}

#sidebar ul li .category-icon {
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

#sidebar ul ul {
  background-color: rgba(0, 0, 0, 0.025);
  margin-left: -.5rem;
  margin-right: -.5rem;
  padding-left: .5rem;
  padding-right: .5rem;
}




#sidebar .searchbox {
  border: 0;
  background: transparent;
}

#sidebar .searchbox input {
  background-color: #ededed;
    border: solid 1px #ccc;
    color: #333;
}

#sidebar .searchbox label {
  color: #333;
}

.searchbox [data-search-clear] {
  display: none;
}

.searchbox input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6); }

.searchbox input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.6); }

.searchbox input:-moz-placeholder {
  color: rgba(0, 0, 0, 0.6); }

.searchbox input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6); }

#sidebar hr {
  display: none;
}


.admonition {
  clear: both;
  border: 1px solid #ccc;
  border-radius: 2px;
  margin: 20px 0 30px 0;
  padding: 15px 20px 15px 55px;
}

.admonition p {
  margin: 0;
}

.admonition.note {
  border: 1px solid #b7c27a;
  background: url(/images/common/ico_note.png) 20px center no-repeat #edf1d7;
}

.admonition.warning {
    color: #a42d2d;
    border: 1px solid #a42d2d;
    background: #fae8e8 url(/images/common/icon_warning.png) 20px center no-repeat;
}

blockquote p {
  padding: .5rem 0;
}



/* Footer */
.footline {
  display: none;
}