<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-526750-27"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-526750-27');
    </script>

    <title>{{ block "title" . }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
    {{if .Site.Params.themeStyle}}
      {{ partial (printf "%s/head.html" .Site.Params.themeStyle) . }}
    {{else}}
      {{ partial "original/head.html" . }}
    {{end}}
  </head>
  <body data-url="{{ .RelPermalink }}">
    {{if .Site.Params.themeStyle}}
      {{ partial (printf "%s/body-beforecontent.html" .Site.Params.themeStyle) . }}
    {{else}}
      {{ partial "original/body-beforecontent.html" . }}
    {{end}}
    
    {{ block "main" . }}
    {{ end }}
    
    {{if .Site.Params.themeStyle}}
      {{ partial (printf "%s/body-aftercontent.html" .Site.Params.themeStyle) . }}
    {{else}}
      {{ partial "original/body-aftercontent.html" . }}
    {{ end }}

    {{ block "footer" . }}
    {{ end }}

    {{ partial "custom-footer.html" . }}
  </body>
</html>