<!DOCTYPE html>
<html lang="{{ .Page.Language | default "en" }}">
<head>
  <meta charset="utf-8">
  <link href="{{"css/common.css" | relURL}}" rel="stylesheet">
  <link href="{{"css/bootstrap.min.css" | relURL}}" rel="stylesheet">
</head>

<body>
    {{ partial "head_en" . }}

    <div class="wrapper">
        <article id="body-container" class="main">
            <header>
                <h1>{{.Title}}</h1>
                <p>{{ .Content }}</p>
            </header>
            <ul>
                {{ range .Data.Pages }}
                    <li>
                        <a href="{{.Permalink}}"> {{.Title}}</a>
                    </li>
                {{ end }}
            </ul>
        </article>
        
        <aside class="aside aside-left">
            {{ partial "sidebar" . }}
        </aside>
    </div>
    {{ partial "footer" . }}
</body>
</html>