<header class="global">
  <div class="headcont">
    <a href="/{{lang}}/"><img class="site-logo" src="{{"images/common/header_logo_docs.png" | relURL}}" alt="Monaca Docs"/></a>
    <div class="navbar-header" id="header-top">
      <button style="margin-right: 0" type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#toctree-menu">
        <span style="background-color: #000" class="icon-bar"></span>
        <span style="background-color: #000" class="icon-bar"></span>
        <span style="background-color: #000" class="icon-bar-left"></span>
        <span style="background-color: #000" class="icon-bar-right"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="toctree-menu">
      <nav>
        <ul>
          <li class="sub-menu-parent" id="products_guide">
            <a href="/ja/products_guide/">Monacaのガイド</a>
            <ul class="sub-menu">
              <li><a href="products_guide/monaca_intro/">Monaca での開発の概要</a></li>
              <li><a href="monaca_ide/">Monaca クラウド IDE</a></li>
              <li><a href="monaca_localkit/">Monaca Localkit</a></li>
              <li><a href="monaca_cli/">Monaca CLI</a></li>
              <li><a href="monaca_vs/">Monaca for Visual Studio</a></li>
              <li><a href="debugger/">Monaca デバッガー</a></li>
              <li><a href="backend/">Monaca バックエンド</a></li>
              <li><a href="onsenui/">Onsen UI</a></li>
            </ul>
          </li>
          <li class="sub-menu-parent" id="tutorials">
            <a href="/ja/tutorials/">チュートリアル</a>
            <ul class="sub-menu">
              <li><a href="monaca_ide/tutorial/">Monaca クラウド IDE のチュートリアル</a></li>
              <li><a href="monaca_localkit/tutorial/">Monaca Localkit のチュートリアル</a></li>
              <li><a href="monaca_cli/tutorial/">Monaca CLI のチュートリアル</a></li>
              <li><a href="monaca_vs/tutorial/">Monaca for Visual Studio のチュートリアル</a></li>
            </ul>
          </li>
          <li class="sub-menu-parent" id="reference">
            <a href="/ja/reference/">開発リファレンス</a>
            <ul class="sub-menu">
              <li><a href="reference/monaca_api/">Monaca API</a></li>
              <li><a href="reference/power_plugins/">Monaca 提供のプラグイン</a></li>
              <li><a href="reference/cordova_6.5/">Cordova のコア プラグイン</a></li>
              <li><a href="reference/third_party_phonegap/">サードパーティー製 Cordova プラグイン</a></li>
              <li><a href="reference/service_integration/">外部サービスとの連携</a></li>
              <li><a href="reference/config/">設定ファイル</a></li>
            </ul>
          </li>
          <li class="sub-menu-parent" id="samples">
            <a href="/ja/sampleapp/">サンプルアプリ & TIPS</a>
            <ul class="sub-menu">
              <li><a href="sampleapp/samples/">サンプルアプリ & テンプレート</a></li>
              <li><a href="sampleapp/tips/">開発 Tips</a></li>
            </ul>
          </li>
          <li class="sub-menu-parent" id="faq">
            <a href="/ja/faq/">FAQ</a>
            <ul class="sub-menu">
              <li><a href="faq/general/">概要</a></li>
              <li><a href="faq/environment/">IDE</a></li>
              <li><a href="faq/build/">ビルドを行う</a></li>
              <li><a href="faq/subscription/">契約プランの変更</a></li>
              <li><a href="faq/application/">アプリケーション</a></li>
              <li><a href="faq/usage/">使用方法</a></li>
              <li><a href="faq/debugger/">デバッグ</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>