<header class="global">
  <div class="headcont">
    <a href="/{{lang}}/"><img class="site-logo" src="{{"images/common/header_logo_docs.png" | relURL}}" alt="Monaca Docs"/></a>
    <div class="navbar-header" id="header-top">
      <button style="margin-right: 0" type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#toctree-menu">
        <span style="background-color: #000" class="icon-bar"></span>
        <span style="background-color: #000" class="icon-bar"></span>
        <span style="background-color: #000" class="icon-bar-left"></span>
        <span style="background-color: #000" class="icon-bar-right"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="toctree-menu">
      <nav>
        <ul>
          <li class="sub-menu-parent" id="products_guide">
            <a href="/en/products_guide/">PRODUCTS GUIDE</a>
            <ul class="sub-menu">
              <li><a href="/en/products_guide/monaca_intro/">Monaca Development Overview</a></li>
              <li><a href="/en/monaca_ide/">Monaca Cloud IDE</a></li>
              <li><a href="/en/monaca_localkit/">Monaca Localkit</a></li>
              <li><a href="/en/monaca_cli/">Monaca CLI</a></li>
              <li><a href="/en/monaca_vs/">Monaca for Visual Studio</a></li>
              <li><a href="/en/debugger/">Monaca Debugger</a></li>
              <li><a href="/en/backend/">Monaca Backend</a></li>
              <li><a href="/en/onsenui/">Onsen UI</a></li>
            </ul>
          </li>
          <li class="sub-menu-parent" id="tutorials">
            <a href="/en/tutorials/">TUTORIALS</a>
            <ul class="sub-menu">
              <li><a href="/en/monaca_ide/tutorial/">Monaca Cloud IDE Tutorial</a></li>
              <li><a href="/en/monaca_localkit/tutorial/">Monaca Localkit Tutorial</a></li>
              <li><a href="/en/monaca_cli/tutorial/">Monaca CLI Tutorial</a></li>
              <li><a href="/en/monaca_vs/tutorial/">Monaca for Visual Studio Tutorial</a></li>
            </ul>
          </li>
          <li class="sub-menu-parent" id="reference">
            <a href="/en/reference/">API REFERENCE</a>
            <ul class="sub-menu">
              <li><a href="/en/reference/monaca_api/">Monaca API</a></li>
              <li><a href="/en/reference/power_plugins/">Monaca Power Plugins</a></li>
              <li><a href="/en/reference/cordova_6.5/">Core Cordova Plugins</a></li>
              <li><a href="/en/reference/third_party_phonegap/">Third-party Cordova Plugins</a></li>
              <li><a href="/en/reference/service_integration/">Service Integration</a></li>
              <li><a href="/en/reference/config/">Configuration Files</a></li>
            </ul>
          </li>
          <li class="sub-menu-parent" id="samples">
            <a href="/en/sampleapp/"> SAMPLES & TIPS</a>
            <ul class="sub-menu">
              <li><a href="/en/sampleapp/samples/">Sample Apps & Templates</a></li>
              <li><a href="/en/sampleapp/tips/">Tips & Tricks</a></li>
            </ul>
          </li>
          <li class="sub-menu-parent" id="faq">
            <a href="/en/faq/">FAQ</a>
            <ul class="sub-menu">
              <li><a href="/en/faq/general/">General</a></li>
              <li><a href="/en/faq/environment/">IDE</a></li>
              <li><a href="/en/faq/build/">Build</a></li>
              <li><a href="/en/faq/subscription/">Subscription</a></li>
              <li><a href="/en/faq/application/">Application</a></li>
              <li><a href="/en/faq/usage/">Usage</a></li>
              <li><a href="/en/faq/debugger/">Debug</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>