%btn {
  border: none;
  display: inline-block;
  $height: 32px;
  letter-spacing: 1px;
  height: $height;
  text-align: center;
  padding: 0 14px;
  font-size: 13px;
  line-height: $height;
  text-decoration: none !important;
  border-radius: 4px;
  @include pie;
  &:hover {
    cursor: pointer;
    outline: none;
  }
  &[disabled] {
    cursor: default;
    opacity: 0.3;
    filter: alpha(opacity=30);
  }
}

a.btn-blue,
a.btn-red,
a.btn-gray-white,
a.btn-gray-black,
a.btn-black,
a.btn-orange {
  height: 28px;
}

.btn-blue {
  font-weight: bold;
  $start-color: #5e93f6;
  $end-color: #2557ee;
  $border-color: #2555d1;
  @extend %btn;
  @include background-linear-gradient($start-color, $end-color);
  border: 1px solid $border-color;
  @include box-shadow(0 1px 0 rgba(255, 255, 255, .4) inset, 0 1px 2px rgba(0, 0, 0, .05));
  color: #fff !important;
  text-shadow: 0 -1px 0px rgba(0, 0, 0, .15);
  &:hover {
    $start-color: #6fa6fd;
    $end-color: #3783fc;
    @include background-linear-gradient($start-color, $end-color);    
  }
  &:active,
  &.active {
    $start-color: #2755bc;
    $end-color: #3d71e2;
    @include background-linear-gradient($start-color, $end-color);
    @include box-shadow(0 1px 0 rgba(0, 0, 0, .3) inset, 0 1px 2px rgba(255, 255, 255, .5));
  }
}

.btn-red {
  $start-color: #ff0000;
  $end-color: #dc0000;
  $border-color: #bf0000;
  @extend %btn;
  @include background-linear-gradient($start-color, $end-color);
  border: 1px solid $border-color;
  @include box-shadow(0 1px 0 rgba(255, 255, 255, .5) inset, 0 1px 2px rgba(0, 0, 0, .05));
  color: #fff !important;
  text-shadow: 0 -1px 0px rgba(0, 0, 0, .7);
}

.btn-orange {
  $start-color: #ff8643;
  $end-color: #ff5427;
  $border-color: #dc3810;
  @extend %btn;
  @include background-linear-gradient($start-color, $end-color);
  border: 1px solid $border-color;
  @include box-shadow(0 1px 0 rgba(255, 255, 255, .5) inset, 0 1px 3px rgba(0, 0, 0, .1));
  color: #fff !important;
  text-shadow: 0 -1px 0px rgba(0, 0, 0, .1);
  
  &[disabled] {
    opacity: 0.2;
    filter: alpha(opacity=20);
  }
  &:not([disabled]) {
    &:hover {
      border-color: #ff8f4b;
      @include background-linear-gradient(#ff9e5f,#fe6239);
      @include box-shadow(0 1px 0 rgba(255, 255, 255, .5) inset);
    }
    &:active {
      border-color: #ca560f;
      @include background-linear-gradient(#df3304,#f25d1d);
      @include box-shadow(0 1px 0 rgba(202, 86, 15, .8) inset, 0 1px 2px rgba(0, 0, 0, .05));
    }
  }
  .small {
    font-size: 88%;
  }
}


.btn-gray-white,
.btn-gray-black {
  $start-color: #CECECE;
  $end-color: #B7B7B7;

  @extend %btn;
  @include background-linear-gradient-half($start-color, $start-color, $end-color, $end-color);
  &:hover {
    opacity: 0.7;
  }
  &:active {
    opacity: 1.0;
    $start-color: #acacac;
    $end-color: #bcbcbc;
    @include background-linear-gradient-half($start-color, $start-color, $end-color, $end-color);
    @include box-shadow(0 1px 0 rgba(0, 0, 0, .05) inset, 0 1px 2px rgba(255, 255, 255, .2));
  }
}

.btn-gray-white {
  color: #fff !important;
  text-shadow: 0 -1px 0px rgba(0, 0, 0, .1);
  font-weight: bold;
  &[disabled] {
    text-shadow: none;
  }
}

.btn-gray-black {
  color: $_gray !important;
}

.btn-gray-white, .btn-black, .btn-gray-black {
  border-radius: 5px;
}

.btn-black {
  $start-color-1: #505050;
  $end-color-1: #505050;
  $start-color-2: #3C3C3C;
  $end-color-2: #3C3C3C;
  @extend %btn;
  @include background-linear-gradient-half($start-color-1, $end-color-1, $start-color-2, $end-color-2);
  color: #fff !important;
  font-size: 13px;
  font-weight: 700;
  text-shadow: 0 -1px 0px rgba(0, 0, 0, .3);
  &:hover {
    opacity: 0.8 !important;
  }
  &:active {
    @include background-linear-gradient-half($start-color-2, $end-color-2, $start-color-1, $end-color-1);
    opacity: 1.0 !important;
    /* @include box-shadow(0 1px 0 rgba(0, 0, 0, .05) inset, 0 1px 2px rgba(255, 255, 255, .2)); */
  }
  &[disabled] {
    &:hover {
      @include background-linear-gradient-half($start-color-1, $end-color-1, $start-color-2, $end-color-2);
    }
    &:active {
      @include background-linear-gradient-half($start-color-1, $end-color-1, $start-color-2, $end-color-2);
    }
  }
}

.btn-navy {
  $start-color-1: #B3C1D5;
  $end-color-1: #B3C1D5;
  $start-color-2: #91A6C2;
  $end-color-2: #91A6C2;

  @extend %btn;

  color: white !important;
  font-weight: bold;
  
  text-shadow: 0 -1px 0px rgba(0, 0, 0, .15);

  @include background-linear-gradient-half($start-color-1, $end-color-1, $start-color-2, $end-color-2);

  &:hover {
    opacity: 0.7 !important;
  }
  &:active {
    @include background-linear-gradient-half($start-color-2, $end-color-2, $start-color-1, $end-color-1);
  }
  &[disabled] {
    &:hover {
      @include background-linear-gradient-half($start-color-1, $end-color-1, $start-color-2, $end-color-2);
    }
    &:active {
      @include background-linear-gradient-half($start-color-1, $end-color-1, $start-color-2, $end-color-2);
    }
  }
  
}


a.btn-narrow {
  display: inline-block;
  padding: 0 12px;
}

a.btn-mini {
  font-size: 11px;
  font-weight: bold;
  $height: 25px;
  height: 25px;
  line-height: 27px;
  padding: 0 10px 0;
}

a.btn-small-mini {
  font-size: 11px;
  font-weight: bold;
  $height: 22px;
  height: 22px;
  line-height: 24px;
  padding: 0 7px 0;
  border-radius: 3px;
}

a.btn-big {
  font-size: 16px;
  font-weight: 700;
  $height: 41px;
  height: $height;
  letter-spacing: 0;
  line-height: $height;
  padding: 0 18px 0;
}

