article.main .comments {
  background-color: #F1F2EB;
  color: #777;
  padding: 10px;
  vertical-align: middle;
  h2 {
    background: url(../img/common/icon_comment.png) no-repeat 9px 9px;
    font-size: 13px;
    font-color: #444;
    margin-right: 5px;
    padding: 6px 5px 0 35px;
  }
  .btn-open {
    background: url(../img/common/icon_comment.png) no-repeat 8px 8px white;
    border: 1px solid #aaa;
    color: #aaa;
    @include all-border-radius(3px);
    @include all-box-shadow(0,1px,1px,rgba(0,0,0,0.1));
    display: inline-block;
    margin-right: 5px;
    padding: 6px 5px 4px 35px;
    width: 280px;
  }
  .btn-dummy {
    vertical-align: bottom;
  }
  .opened {
    display: none;
  }
  table {
    width: 100%;
    span.required{
      color: #F55B56;
      padding-left: 3px;
    }
    .icon-loading { 
      display: none;
      margin-left: 8px;
      vertical-align: middle;
    }
    th {
      padding: 8px 0 0 5%;
      width: 22%;
      border : none;
      white-space: nowrap;
    }
    td {
      padding: 6px;
      width: 73%;
      border : none;
      input[type="text"],
      textarea {
        border: 1px solid #aaa;
        color: #333;
        @include all-border-radius(3px);
        @include all-box-shadow(0,1px,1px,rgba(0,0,0,0.1));
        display: inline-block;
        font-size: 13px;
        line-height: 140%;
        padding: 8px 8px 6px 8px;
        width: 60%;
      }
      textarea {
        width: 92%;
        height: 80px;
      }
      .btn-send {
        vertical-align: middle;
      }
      p.thanks {
        display: none;
        margin: 0;
      }
    }
  }
}


