@mixin form-focus() {
  border: 1px solid #6e9ddd;
  /* TODO: Fix shadow color */
  @include box-shadow(0 0 3px #6e9ddd);
}


.comments form {
  ul {
    list-style: none;
    li {
      font-size: 12px;
      text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
    }
  }
  table {
    width: 100%;
    tr {
      th {
        font-weight: normal;
        padding: 7px 0 0;
        text-align: left;
        vertical-align: top;
        width: 22.72%;
      }
      td {
        font-size: 11px;
        padding: 0 0 15px;
        width: 77.28%;
        line-height: 1.4;
        input[type="text"],
        input[type="password"],
        input[type="email"],
        input[type="url"],
        textarea {
          font-size: 14px;
          margin: 0 0 3px 0;
          text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
          width: 270px;
          &:focus {
            @include form-focus();
          }
        }
        input[type="text"],
        input[type="email"],
        input[type="url"] {
          margin-top: -5px;
          &.narrow {
            width: 200px;
          }     
        }
        textarea {
          width: 350px;
          height: 80px;
        }
        .annotation {
          color: #999;
        }
      }
    }
  }
  .required {
     color: #F55B56;
     padding-left: 3px;
  }
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="url"],  
  textarea {
    display: inline-block;
    background: #fff;
    border: 1px solid #ccc;
    color: $_gray;
    font-size: 14px;
    margin: 0 0 9px 0;
    padding: 8px;
    border-radius: 4px;
    @include box-shadow(0px 1px 2px rgba(0, 0, 0, .1));
    outline: none;
    @include pie;
    &:focus {
      @include form-focus();
    }
  }
  input {
    @include placeholder-color($_lighter-gray, '&');
  }
  .checkbox,
  #checkbox {
    label {
      background: url(../img/login_popup_checkbox_off.png) no-repeat left top;
      padding: 2px 0 2px 24px;
      vertical-align: middle;
      min-height: 16px;
    }
    input[type="checkbox"] {
      display :none;
      &:checked + label {
        background: url(../img/login_popup_checkbox_on.png) no-repeat left top;
      }
    }
  }
}


