.flex-container {
  max-width: 1020px;
  padding: 70px 5px 30px 5px;
  text-align: center;
  margin: auto;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  padding: 10px;
  margin: 10px 0;
  min-width: 250px;
  max-width: 300px;
  color: #333;
  font-size: 12px;
  text-align: center;

  dt {
    color: $h_color;
    font-size: 18px;
    font-weight: 700;
    margin: 5px 0 5px;
    a:link {color: $h_color; text-decoration: none;}
    a:visited {color: $h_color; text-decoration: none;}
    a:hover {color: #999; text-decoration: none;}
    a:active {color: $h_color; text-decoration: none;}
  }
  dd {
    font-size: 12px;
    text-align: justify;
  }

  p {
    font-size: 18px;
    padding-bottom: 5px;
  }

  > ul > li{
    text-align: left;
    p{
      font-size: 14px;
      padding-top: 15px;
    }
    span {
      padding: 5px 0;
    }
    > ul > li {
      a:link {text-decoration: none;}
      a:visited {text-decoration: none;}
      a:hover {text-decoration: underline;}
      a:active {text-decoration: none;}

      list-style-type: square;
      margin-left: 15px;
    }
  }
}

.update {
  table {
    text-align: left;
    a:link {text-decoration: none;}
    a:visited {text-decoration: none;}
    a:hover {text-decoration: underline;}
    a:active {text-decoration: none;}
    td {
      padding-left: 15px;
      padding-bottom: 8px;
      line-height: 1.5;
    }
  }
  p {
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 800px) {
  .update { min-width: 640px;}
}
