@charset 'UTF-8';

ul.simple {
  li {
    background: none;
    margin-left: 0px;
    list-style-type: disc;
    list-style-position: outsinde;
    &:first-child {border: none;}
  }
}

ol.simple {
  line-height: 30px;
  margin-left: 50px;
  li {
    list-style-type: decimal;
    list-style-position: outsinde;
    ol {
      li {
        margin-left: 40px;
      }
    }
  }
}

blockquote ul,
ul.simple {
  font-size: 16px;
  padding: 10px 0;
  li {
    margin-left: 50px;
    line-height: 30px;
    list-style-type: disc;
    list-style-position: outsinde;
    dl {
      margin: 10px 0;
      list-style-type: disc;
      list-style-position: outsinde;
      dt {

        margin: 10px 0 0 25px;
        padding-left: 13px;
      }
      dd {
        padding: 0 0 0 38px;
      }
    }
  }
}

dl.docutils {
  margin-bottom: 0;
  dt {
    font-weight : bold;
  }
  dd {
    margin-left: 2em;
  }
}

table.docutils {
  th {
    font-weight: bold;
    white-space: nowrap;
  }
  td em {
    font-weight: bold;
    white-space: nowrap;
  }
}

ul.box-tri {
  @include clearfix-after;
  li {
    background: none;
    float: left;
    margin: 0 0 0 percentage(44px / 880px);
    padding: 0;
    text-align: center;
    width: percentage(264px / 880px);
    &:first-child {
      margin-left: 0;
    }
  }
}

div.section {
  > p {
    margin-top: 20px;
    margin-bottom: 10px;

  }

  img {
    display: block;
    // border: 1px solid #ccc;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 10px auto 20px;
    max-width: 100%;
  }
  img.inline {
    display: inline;
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
    vertical-align: middle;
  }

  img.align-left {
    float: left;
  }

  img.align-right {
    float: right;
  }

  img.leftfit {
    float: left;
    margin: 0 30px 10px 0px;
  }

  img.rightfit {
    float: right;
    margin: 0 0 1em 1em;
  }

  img.nomargin {
    margin: 0;
  }

  div.figure {
    border: none;
    padding: 0 20px 10px 20px;
    margin: 10px 0px 0px 0px;

    p.caption {
      font-weight: bold;
      text-align: center;
    }

    img {
      box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
      /*border: 1px solid #808080;*/
      border: none;
      margin: 10px auto 3px;
    }
  }

  div.align-center {
    text-align: center;
    img {
      display: inline;
    }
  }

  div.align-left {
    float: left;
  }
}

.link-right {
  text-align: right;
  a:link { text-decoration: underline; }
  a:visited { text-decoration: underline; }
  a:hover { text-decoration: none; }
  a:active { text-decoration: underline; }
  &:before {
    content: url(../img/common/icon_triangle.png);
    margin-right: 5px;
  }
}

.sec-h2 {
  margin-bottom: 40px;
}

.sec-h3,
div.section {
  margin-bottom: 10px;
}

.marginimg10 {
  margin: 10px 0;
}

.disabled {
  opacity: 0.2;
  filter: alpha(opacity=20);
}

.clear,
.clearfloat {clear: both;}


.highlight {
  background-color: yellow;
}

span.highlight {
  background-color: #ffff80;
  border: 1px solid #e3e3e3;
  color: #000;
}

a.internet-link {
  padding-left: 0px;
}

div.leftside {
    width: 50%;
    padding: 0px 3px 0px 0px;
    float: left;
}

div.rightside {
    margin-left: auto;
    padding-top: 20px;
}

table.highlighttable {
  width: 100%;
}

table.wide-table {
  overflow-x: auto;
  &.docutils {
    font-size: 12px;
  }
}

.scroll-table {
  overflow-x: auto;
  font-size: 12px;
}
